<?php
# Настройки для базы данных
$wgDBtype = "postgres";
$wgDBserver = "{{ hostvars['minio']['ansible_host'] }}";  # Адрес сервера PostgreSQL
$wgDBname = "my_wiki";  # Имя базы данных
$wgDBuser = "wikiuser";  # Имя пользователя базы данных
$wgDBpassword = "balamut666";  # Пароль пользователя базы данных

# Параметры для кэширования
$wgMemcachedServers = [ "127.0.0.1:11211" ];

# Прочие настройки
$wgFileBackend = 's3';
$wgServer = "http://{{ hostvars['nginx']['ansible_host'] }}";
$wgSitename = "My MediaWiki";
$wgScriptPath = "";
$wgArticlePath = "/wiki/$1";
$wgEnableUploads = true; 
$wgMaxUploadSize = 10485760;
$wgFileExtensions = [ 'png', 'gif', 'jpg', 'jpeg', 'svg', 'pdf', 'doc', 'xls', 'ppt', 'docx', 'xlsx', 'pptx', 'txt' ];
wfLoadSkin( 'MinervaNeue' );
wfLoadSkin( 'MonoBook' );
wfLoadSkin( 'Timeless' );
wfLoadSkin( 'Vector' );

$wgS3Settings = [
    'endpoint' => 'http://{{ hostvars["minio"]["ansible_host"] }}:9000',  
    'region' => 'us-east-1',                                              
    'accessKey' => 'keyaccess',                                         
    'secretKey' => 'keysecret',                                         
    'bucket' => 'mediawiki',                                             
    'pathStyle' => true                                                  
];
$wgUseSwiftStorage = true;
$wgSwiftConfig = [
    'backend' => 's3',
    'default' => true,
    's3' => $wgS3Settings,
];
$wgUploadBaseUrl = 'http://{{ hostvars["minio"]["ansible_host"] }}:9000/mediawiki';
$wgUploadDirectory = false;
$wgGroupPermissions['user']['upload'] = true;
$wgGroupPermissions['user']['reupload'] = true;
$wgGroupPermissions['user']['upload_by_url'] = true;
