# Настройки Zabbix Server
LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid

# Настройки базы данных
DBHost={{ postgres_host }}
DBName=zabbix
DBUser=zabbix
DBPassword=i7def