# Основные настройки Zabbix агента
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_agentd.pid
DebugLevel=3

# Устанавливаем параметры хоста
Hostname={{ inventory_hostname }}  # Имя хоста для Zabbix, будет использовать имя из инвентаря

# Адрес сервера Zabbix, на который агент будет отправлять данные
Server={{ zabbix_server_ip }}  # Укажите IP сервера Zabbix
ServerActive={{ zabbix_server_ip }}  # Для активного режима сервера

# Параметры соединения и порты
ListenPort=10050  # Порт для прослушивания входящих подключений

# Адрес для отправки данных Zabbix серверу
# Важно, чтобы этот сервер был доступен для агентов
StartAgents=5  # Количество агентов, которые будут запускаться для мониторинга
Timeout=30  # Таймаут соединения с сервером Zabbix
EnableRemoteCommands=0  # Отключаем удалённые команды

# Параметры кэширования и обработки данных
RefreshActiveChecks=120  # Интервал обновления активных проверок
CacheSize=8M  # Размер кэша

# Настройка agent'а для использования различных модулей
# Убедитесь, что они доступны для мониторинга на хосте
UnsafeUserParameters=0  # Отключение использования небезопасных параметров пользователя

# Параметры сервиса, который будет мониториться
Include=/etc/zabbix/zabbix_agentd.d/*.conf  # Инклюды конфигов для агентов
